.container {
  width: 200px;
  /* margin-left: 235px; */
  display: flex;
  justify-content: space-between;
  gap: 4px;
  flex-grow: 1;
}
.container button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border: none;
  box-shadow: inset 1px 1px 2px 1px #000000;
}
.container button.active {
  background-color: var(--color-1);
}
.container img {
  width: 24px;
  height: 24px;
}
