.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
  border-radius: 50%;
}

.button > img {
  width: 5vmin;
  height: 5vmin;
}
