.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 800px;
  width: 800px;
}

.buttonRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-grow: 1;
}

.button {
  border: none;
  background-color: #555;
  border-radius: 50%;
  margin: 1px;
  position: relative;
  flex-grow: 1;
}
.button::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #e7ff5c;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.5s ease-out,
    box-shadow 0.5s ease-out,
    height 0.5s ease-out,
    width 0.5s ease-out;
  z-index: 1;
}

.buttonRow .button.current {
  /* background-color: #5a5a5a; */
}

.buttonRow .button.active.current::after {
  opacity: 0.7;
  width: 120%;
  height: 120%;
  transition:
    opacity 0s,
    box-shadow 0s,
    height 0s,
    width 0s;
}

.buttonRow .button.active {
  background-color: #d9ff02;
}

.button:nth-child(4n-3) {
  background-color: #444;
}

@media (orientation: portrait) {
  .container {
    width: 90vw;
    height: 90vw;
  }
}

@media (orientation: landscape) {
  .container {
    width: 90vh;
    height: 90vh;
  }
}
